.avatar-box,
.avatar-animation-stand-right,
.avatar-animation-stand-left,
.avatar-animation-stand-attack-right,
.avatar-animation-run-right,
.avatar-animation-run-left,
.avatar-animation-run-attack-right,
.avatar-animation-run-attack-left,
.avatar-animation-fly-right,
.avatar-animation-fly-left,
.avatar-animation-fly-attack-right,
.avatar-animation-fly-attack-left {
  width: 100px;
  height: 100px;
}

.avatar-animation-stand-right {
  -webkit-animation: keyframes-animation-row-0-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-stand-left {
  -webkit-animation: keyframes-animation-row-1-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-stand-attack-right {
  -webkit-animation: keyframes-animation-row-2-100-100-8-steps 0.2s steps(8) infinite; }

.avatar-animation-stand-attack-right {
  -webkit-animation: keyframes-animation-row-3-100-100-8-steps 0.2s steps(8) infinite; }

.avatar-animation-run-right {
  -webkit-animation: keyframes-animation-row-4-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-run-left {
  -webkit-animation: keyframes-animation-row-5-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-run-attack-right {
  -webkit-animation: keyframes-animation-row-6-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-run-attack-left {
  -webkit-animation: keyframes-animation-row-7-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-fly-right {
  -webkit-animation: keyframes-animation-row-8-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-fly-left {
  -webkit-animation: keyframes-animation-row-9-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-fly-attack-right {
  -webkit-animation: keyframes-animation-row-10-100-100-8-steps 0.5s steps(8) infinite; }

.avatar-animation-fly-attack-left {
  -webkit-animation: keyframes-animation-row-11-100-100-8-steps 0.5s steps(8) infinite; }